<div>
	<div class="col-md-2" side-bar link-data="settingsLinks"></div>
	<div class="col-md-10 col-md-offset-2">

		<div class="well">
			<h2>
				Settings
			</h2>
			<h4>Global settings, configuration, brand colors, etc.</h4>
		</div>
		<!-- import colors docs -->
		<mwi-colors-docs></mwi-colors-docs>

		<div class="divider-horizontal"></div>

		<!-- import typography docs -->
		<mwi-typography-docs></mwi-typography-docs>
		<!--<mwi-grids-docs></mwi-grids-docs>-->
	</div>
</div>
