<h2>Forms</h2>
<p>Filling out forms is especially painful on mobile devices. Some things to keep in mind to keep your interface user-friendly:<p>

<p>Minimize the amount of data the user needs to input. Remove or combine fields.</p>

<p>When possible. set sensible defaults. For example, default the date on a movie ticket buying site to today.</p>

<p>If keyboard input is required, automatically present the right keyboard. For example, present the number keyboard when the user taps into the ZIP field.</p>

<p>Here’s a good article with additional ideas: <a href="http://www.uxbooth.com/articles/mobile-form-design-strategies/" target="_blank">Mobile Form Design Strategies</a>
