<h2>Size & Speed</h2>
<p>
You already know that mobile devices are small. That means you have to think differently about <a href="#/uxguidelines/content">content</a>, <a href="#/patterns/navigation.primary">navigation</a>, <a href="#/patterns/forms.text">forms</a> and <a href="#/patterns/content.dataVisualization">presenting data</a>.
</p>
<p>
To practice working with the limited size of mobile devices:
	<ul>
		<li>Start with mobile. Design the <strong>mobile</strong> interface <strong>first</strong>, rather than starting with desktop and trying to edit it down.</li>
		<li>Print out <a href="http://www.interfacesketch.com/" target="_blank">mobile templates</a> and sketch screens in actual size.</li>
		<li>When writing content, set up your page template to be just 4.4 inches wide and use 15 pt font.</li>
		<li>Try the <a href="http://www.hemingwayapp.com/" target="_blank">Hemingway Editor</a> for help keeping your writing crisp.</li>
	</ul>
</p> 
<p>
Keep in mind also that rendering sites in mobile devices tends to be much slower than on the desktop. Users expect to load a site on a mobile device in under 4 seconds, but the average is 9 seconds.  While not quite dialup days, you do need to keep an eye on your page load.
</p>
<p>
So, prioritize, edit and stay focused. Designers and developers need to optimize images (compress, use SVG), minify HTML and CSS. Try <a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank">Google PageSpeed Insights</a> for an estimate of the speed to render a page on a mobile device, and suggestions where to look for improvements.
</p>
