<h2>Touch &amp; Gesture</h2>
<p>One of the biggest difference between designing UIs for desktop web and mobile web is that you need to consider touch and gesture.</p>
<p>
Keep in mind:
<ul>
	<li>You can’t use hover on touchscreens. So if you’ve gotten in the habit of tucking things into tooltips or other hovers, you’ll have to either get rid of that content or present it a different way.</li>
	<li>Fingers and thumbs are much less precise than the mouse., so provide bigger hit areas (remember, that doesn’t have to be the same size as the visible button) and make sure there’s space between tappable (list of links are a common offender)</li>
	<li>Common rules of thumb: 44x44 px hit area, 2-5 mm between tappable items. More from <a href="http://www.lukew.com/ff/entry.asp?1085" target="_blank">Luke W.</a></li>
	<li>Standard gestures that you’ll definitely want to consider how to support or not: tap, flick or swipe and pinch zoom. Pull down to refresh and swipe for more content are more two very common patterns.</li>
	<li>To see if the interface feels OK on a mobile device, don’t just test by squishing your browser down or using emulators. Play with the interface on an actual physical mobile device, you’ll notice where some that might be fine with a mouse feels awkward on a mobile device.</li>
</ul>
</p>