<div class="col-md-2" sidebar>Html</div>
    <a name="introduction" class="anchor"></a>
    <h2 class="section-title" id="intro-title">UX Guidelines</h2>
    <p>Here’s some food for thought as you embark on providing user-friendly web sites to people on any number of devices.</p>
    <p>First of all, this is exciting.  Next, it’s going to be hard work. This guide is meant to help. There are still a lot of particulars, design decisions and lines of code to work through.</p>
    <p>And last but not least, if you’ve been working on desktop sites (or print!) for a while, but haven’t had much experience with mobile, we’ve recapped what we hope are some helpful rules of thumb and approaches.</p>
