/*****************************
 Core Guide Pre/Code
*****************************/

// We use Prism to style our code samples and add syntax highlighting
// For Prism source, see private_components/prism/prism.css
code {
	font-size: 14px;
	cursor:text;
	height:auto !important;
	tab-size:2 !important;
	padding: 0 0 0 20px;
	padding-top:0 !important;
}

.code-block {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

pre[class*='language-'] {
	height: auto;
  max-height: 300px;
  border: 1px solid #BFBFBF;

	& > code[data-language] {
	  overflow: auto;
	  display: block;
	  padding: 0;
	}
}

/*
 * Make 'pre' text wrap.
 * See: http://css-tricks.com/snippets/css/make-pre-text-wrap/
 */
pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}