<ul class="list">
  <li>
    <p class="list-item-content">Lorem ipsum dolor sit amet, elit, sed do eiusmod temp incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p class="list-item-content">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
  </li>
  <li>
    <p class="list-item-content">Lorem ipsum dolor sit amet, elit, sed do eiusmod temp incididunt ut labore. Lorem ipsum dolor sit amet.</p>
  </li>
  <li>
    <p class="list-item-content">Lorem ipsum dolor sit amet, elit, sed do eiusmod temp incididunt ut labore.</p>
    <p class="list-item-content">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam.</p>
  </li>
  <li>
    <p class="list-item-content">Lorem ipsum dolor sit amet, elit, sed do eiusmod temp incididunt ut labore. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim.</p>
  </li>
  <li>
    <p class="list-item-content">Lorem ipsum dolor sit amet, elit, sed do eiusmod temp incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </li>
  <li>
    <p class="list-item-content">Lorem ipsum dolor sit amet, elit, sed do eiusmod temp incididunt ut labore. Lorem ipsum dolor sit amet.</p>
  </li>
</ul>

