<div class="color-palette  ">
	<div class="color-item">
		<div class="color" ng-style="{'background-color': colorData.hex}" style="background-color: rgb(130, 0, 83);"></div>
		<div class="color-info">
			<h5  >Magenta</h5>
			<p  >#820053</p>
			<p  >rgb( 130, 0, 83 )</p>
		</div>
	</div>


	<div class="color-item">
		<div class="color"  style="background-color: rgb(0, 43, 92);"></div>
		<div class="color-info">
			<h5  >Navy</h5>
			<p  >#002B5C</p>
			<p  >rgb( 0, 43, 92 )</p>
		</div>
	</div>


	<div class="color-item">
		<div class="color" ng-style="{'background-color': colorData.hex}" style="background-color: rgb(4, 85, 157);"></div>
		<div class="color-info">
			<h5  >ARC Blue</h5>
			<p  >#04559D</p>
			<p  >rgb( 4, 85, 157 )</p>
		</div>
	</div>

	<div class="color-item">
		<div class="color" style="background-color: rgb(0, 139, 176);"></div>
		<div class="color-info">
			<h5  >Medium Blue</h5>
			<p  >#008BB0</p>
			<p  >rgb( 0, 139, 176 )</p>
		</div>
	</div>

	<div class="color-item">
		<div class="color" ng-style="{'background-color': colorData.hex}" style="background-color: rgb(34, 116, 108);"></div>
		<div class="color-info">
			<h5  >Emerald</h5>
			<p  >#22746C</p>
			<p  >rgb( 34, 116, 108 )</p>
		</div>
	</div>

	<div class="color-item">
		<div class="color"  style="background-color: rgb(121, 159, 66);"></div>
		<div class="color-info">
			<h5  >Grass</h5>
			<p  >#799F42</p>
			<p  >rgb( 121, 159, 66 )</p>
		</div>
	</div>


</div>
