// Colors
// --------------------------------------------------
$primary-color: #1162ac;
$cta-color: #49a1da;
$gradient-dark-color: #368fce;
$alert-color: #df2128;
$info-color: #3ca096;
$promotions-color: #aa186d;
$rollup-color: #3FA197;

$gray1: #333333; // darkest
$gray2: #4f4f4f; // primary
$gray3: #858686;
$gray4: #b0b1b1; // secondary
$gray5: #cdcbcb;
$gray6: #eeeded;
$gray7: #f3f3f3;
$gray8: #fafafa; // lightest
