/* ************************************************

SETTINGS.SCSS
global settings, configuration, brand colors, etc.

************************************************ */

// Colors
// --------------------------------------------------

$primary-color: #1162ac;
$cta-color: #49a1da;
$gradient-dark-color: #368fce;
$alert-color: #df2128;
$info-color: #3ca096;
$promotions-color: #aa186d;
$rollup-color: #3FA197;
$chart-color:#1A554F; //green1
$text-cta-color:#23AAF8;//light blue

$gray-primary: #4f4f4f;
$gray-secondary: #b0b1b1;

$green1:#1A554F;
$green2:#247870;
$green3:#31968C;
$green4:#6DB8B0;
$green5:#B4DDDA;


$gray1: #333333; // darkest
$gray2: #4f4f4f; // primary
$gray3: #858686;
$gray4: #b0b1b1; // secondary
$gray5: #cdcbcb;
$gray6: #eeeded;
$gray7: #f3f3f3;
$gray8: #fafafa; // lightest
