<section>
<select class="dropdown form-control">
	<option  label="October 2015" selected="selected">October 2015</option>	
	<option  label="November 2015" selected="selected">November 2015</option>	
	<option  label="December 2015" selected="selected">December 2015</option>	
</select>
<div class="row site-header__top">
	<div class="col-md-6 site-header__search__container">
		<input type="text" class="form-control header__main-search" placeholder="Search by Product Name, SKU, Manufacturers" />
	</div>
</div>
</section>
