/*****************************
 Color Swatch
 A block of color with an associated name and hex
 value, to illustrate the __Client__'s color scheme.
*****************************/

.color-item {
	@include border-radius(8px);
	width: 200px;
	float: left;
	border: 1px solid #BFBFBF;
	margin: 0 20px 20px 0;

	.color {
		@include border-top-radius(8px);
		width: 198px;
		height: 115px;
		margin: 0; // so the color doesn't creep past the parent element's border
	}

  .color-info {
		border-top: 1px solid #BFBFBF;
		padding: 10px;
	}
}

.color-palette {
	@include clearfix();
	padding: 10px 0;
}
