/*****************************
 Color Shades
 A block of several shades of a single color,
 typically display from lightest to darkest.
*****************************/

.row {
  @include clearfix();
}

.color-block {
  float: left;
  width: 200px;
  margin: 0 15px 30px;

  h5 {
    font-size: $h5-font-size;
    color: white;
    padding: 10px 15px;
  }

  .color-details {
    padding: 7px 15px;
    float: left;
    width: 100%;
    color: white;

    p {
      width: 50%;
      margin: 0;
      font-size: 18px;
      float: left;
    }
  }
}