<div class="alert-fullscreen">
  <div class="alert-wrapper">
    <h3 class="alert-title">Lorem ipsum dolor sit amet</h3>
    <p class="alert-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p class="alert-desc">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="btn-primary-on-dark btn-block" href="javascript:void(0)">OK, Got it!</a>

    <div class="toggle-group alert-checkbox">
      <ul>
        <li class="last">
          <input type="checkbox" name="dontShowAgain" id="dontShowAgain" />
          <label for="dontShowAgain" class="toggle-icon"></label>
          <label for="dontShowAgain">Don't show me this again</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="alert-background"></div>
</div>