<div class="alert-tooltip">
  <div class="alert-wrapper">
    <h3 class="alert-title">Password reset sent</h3>
    <p class="alert-desc">We all forget sometimes! We’ve sent an email containing a password reset link to the email address you’ve provided.</p>
    <p class="alert-desc">Please click that link and follow the instructions provided to reset your password.</p>
    <a class="btn-primary-on-dark btn-block" href="javascript:void(0)">OK, Got it!</a>
  </div>
  <div class="alert-background"></div>
  <div class="alert-tooltip-arrow"></div>
</div>