<section>
<a name="tables" class="anchor"></a>
<h3 class="subtitle">Tables</h3>

<p>The tables styling is quite basic with the exception of the color accent. This will be the only change from table to table. You can use the following class names for color accents:</p>
<ul>
  <li><code>bg-gold</code></li>
  <li><code>bg-blue</code></li>
  <li><code>bg-grey</code></li>
  <li><code>bg-black</code></li>
  <li><code>bg-light-grey</code></li>
</ul>
<p>The table behaves the same for all breakpoints except <strong>Mobile</strong> which does not have a standardized version yet.</p>
<p><em>The tables are still a work in progress.</em></p>

<mwi-tables></mwi-tables>
</section>
