/*****************************
 Core Guide Change Log
*****************************/

.change-log {
  margin: 75px;
  
  h1, h4 {
    display: inline;
  }
  p {
    margin: 10px;
  }
}

.change-log .latest-changes {
  margin-left: 50px;
  margin-top: 75px;
  
  h2 {
    display: inline;
    text-decoration: underline;
  }
  h3 {
    display: inline;
    vertical-align: bottom;
    padding-left: 15px;
  }
}