/*****************************
 Core Guide General Layout
*****************************/
$top-menu-height: 55px;

.body-container {
  width: 100%;
  margin: auto;
}

nav {
  height: $top-menu-height;
}

.main-content {
  > section {
    height: 100%;
    > [ui-view] {

      $screen-lg-min: 1200px;
      @media (min-width: $screen-lg-min + 200px) {
        padding-right: 50px;
        width: $screen-lg-min;
      }
    }
  }
}

@media (max-width: 500px) {
  .main-content {
    margin-top: 2 * $top-menu-height;
  }

  nav {
    height: 2 * $top-menu-height;
  }
}

.full-content {
  margin-left: 16%;
  margin-top: 100px;
  padding: 40px;
  max-width: 1200px;
}

section {
  padding: 10px 30px;
}

.dark-column .code-sample-demo {
  background: #aaa;
  padding: 1em;
}
