<div class="shopping-dropdown col-md-3 col-md-offset-1">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			<i class="glyphicon glyphicon-shopping-cart">
			</i>
			<div class="dropdown-title">
				<p >Shopping Cart 1</p> 
				<div class="dropdown-sub-title">
					<span>
					221 items
					</span>
					<span>
					$1,245.88
					</span>
				</div> 
			</div> 
			<span class="caret"></span>

		</a>

		<ul class="dropdown-menu">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="#">Separated link</a></li>
		</ul>
		</li>
	</div>

