<div>

<div class="col-md-2">	
<div  side-bar link-data="overviewLinks"></div>
</div>

<div class="col-md-10 col-md-offset-2">
<a name="overview" class="anchor"></a>
<h2 class="section-title" id="intro-title">Welcome everyone</h2>
<p>The <strong>MWI Digital Standards Guide</strong> is here!</p>

<h4>Why have a Digital Standards Guide?</h4>
<p>Two big reasons:
<ul>
	<li>To convey a consistent brand across all MWI digital properties</li>
	<li>To make development faster and more efficient (remember, that’s not the same as magically complete—there’s still a lot of work to do to apply these elements and styles)</li>
</ul>
</p>

<h4>Principles we have followed in making style guide </h4>
<p> We have followed these principles when we desinged the DSG. ITCSS, Atomic Design and BEM. You can read more about here <a> Link to the about page </a> </p>

<h4>The folder structure </h4>
<p>The main folder you should look at is the app/ folder. It contains docs and src folders. Src is all the Sass, HTML and JS files you will need (in case you want to copy any code). Docs contains all the files that are responsible for documenting Src.</p>

<h4>The best way to find code </h4>
<p> We tried to match the folder structure to the navigation in this site. For example, Atoms in the menu bar corresponds to app/src/views/atoms.</p>

<h4>What browsers are supported?</h4>
<p>On desktop we support the following:</p>
<ul>
	<li>Internet Explorer 8/9/10/11 (IE8 isn't fully supported by all styles, though it should function properly)</li>
	<li>Firefox 32+</li>
	<li>Chrome 37+</li>
	<li>Safari 6.1+</li>
</ul>

<h4>What happens next?</h4>
<p>This is just the beginning. Some sites have already been selected to undergo redesign. As sites undergo redesigns, additional elements that are needed will be designed and baked into the guide.</p>

<mwi-about-docs></mwi-about-docs>
</div>


</div>
