<div class="row">
  <div class="col-md-8">
    <table class="data-table">
      <thead>
      <tr>
        <th colspan="2" class="empty"></th>
        <th>Q1 2013</th>
        <th>Q2 2013</th>
        <th>Q3 2013</th>
        <th>Q4 2013</th>
        <th>Q1 2014</th>
        <th>Q2 2014</th>
        <th>Q3 2014</th>
        <th>Q4 2014</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th><strong>Data Set Lorem</strong><br/>ipsum lorem</th>
        <th rowspan="4" class="color-code bg-gold"></th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Euismod</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Tempor</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Labore</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      </tbody>
      <tbody>
      <tr class="divider">
        <th colspan="2"></th>
        <td colspan="8"><span class="line"></span></td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <th><strong>Data Set Lorem</strong><br/>ipsum lorem</th>
        <th rowspan="4" class="color-code bg-blue"></th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Euismod</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Tempor</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Labore</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      </tbody>
      <tbody>
      <tr class="divider">
        <th colspan="2"></th>
        <td colspan="8"><span class="line"></span></td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <th><strong>Data Set Lorem</strong><br/>ipsum lorem</th>
        <th rowspan="4" class="color-code bg-grey"></th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Euismod</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Tempor</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Labore</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      </tbody>
      <tbody>
      <tr class="divider">
        <th colspan="2"></th>
        <td colspan="8"><span class="line"></span></td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <th><strong>Data Set Lorem</strong><br/>ipsum lorem</th>
        <th rowspan="4" class="color-code bg-black"></th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Euismod</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Tempor</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Labore</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      </tbody>
      <tbody>
      <tr class="divider">
        <th colspan="2"></th>
        <td colspan="8"><span class="line"></span></td>
      </tr>
      </tbody>

      <tbody>
      <tr>
        <th><strong>Data Set Lorem</strong><br/>ipsum lorem</th>
        <th rowspan="4" class="color-code bg-light-grey"></th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Euismod</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Tempor</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      <tr>
        <th>Labore</th>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
        <td>44.4</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

