<div class="site-header">
	<div class="container">
		<div class="row site-header__top">
			<div class="col-md-3 site-header__logo icon-mwi-logo"></div>
			<div class="col-md-6 site-header__search__container">
				<input type="text" class="form-control header__main-search" placeholder="Search by Product Name, SKU, Manufacturers" />
			</div>
			<div class="col-md-3 site-header__customer">
				<div class="header-account-info"  >
					<div class="header-account-info__account-name">Account Name</div>
					<div class="header-account-info__account-number">#123456</div>
					<div class="header-account-info__expander icon-caret-gray"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="site-header__bottom">
		<div class="container">
			<div class="row">
				<nav class="col-md-8 site-header__navigation">
				<div class="sub-header">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<ul class="nav navbar-nav navbar-left header__top-nav header__top-nav__link">
						<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Products</a></li>
						<li><a href="#">List</a></li>
						<li><a href="#">Promotions</a><li>
						<li><a href="#">Orders</a></li>
					</ul>
				</div>
				</nav>
				<div class="col-md-3 site-header__cart">
					<div class="header__shopping-cart">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<div class="header__shopping-cart__icon">
								<i class="icon-shopping-cart"></i>
							</div>

							<div class="header__shopping-cart__info">
								<div>Shopping Cart 1</div>
								<div>
									<span class="header__shopping-cart__info__items">14 items</span>
									<span class="header__shopping-cart__info__total">$1,245.88</span>
								</div>
							</div>
							<div class="header__shopping-cart__caret">
								<div class="header__shopping-cart__caret__icon icon-caret"></div>
							</div>

							<div>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li
								</ul>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



