<div class="template-sampler">

  <ul class="nav nav-tabs">
    <li ng-repeat="format in formats" ng-click="changeFormat(format);" ng-class="{ active: format === currentFormat }"><a>{{ format.name }}</a></li>
    <li class="separator">&nbsp;</li>
    <li ng-class="{ active: codeTabActive }"><a ng-click="changeTab('code')">Code</a></li>
    <li><a ng-href="{{ srcUrl }}" target="_blank" title="Open in a New Window">Open +</a></li>
    <li ng-show="currentFormat" class="disabled info-text"><a>{{ currentFormat.width }} x {{ height }}</a></li>
  </ul>

  <div class="frame" ng-show="currentFormat"><iframe ng-attr-src="{{ srcUrl }}" frameborder="0" ng-load="resize($event)"></iframe></div>

  <code-sampler ng-show="templateHtml && codeTabActive" html="templateHtml"></code-sampler>

</div>
