<div class="nav-container">
  <div class="nav-main">
    <nav class="navbar">

      <div class="navbar-header">
        <a class="navbar-brand navbar-logo" href="javascript:void(0);">CGI</a>
      </div>

    </nav>
    <div class="background"></div>
    <div class="offCanvasMenuMaskWrapper"><div class="offCanvasMenuMask"></div><div class="offCanvasMenuMaskBackground"></div></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Content -->
    <div class="col-sm-5">
      <h1>Oops! <span class="color-grey">404</span></h1>
      <h4>Page Not Found</h4>
      <p>Something’s not right here. This could be a mis-typed URL, a broken link or an outdated bookmark.</p>
      <p>You may go to our <a href="javascript:void(0);">homepage</a>.</p>
      <p>Or enter a search for your desired page here:</p>
      <div class="search-container form-group" data-ssearch="open">
        <button class="search-open">Search</button>
      </div>
      <p>If you keep having this problem with this page, please use the form below to let us know and we’ll look into it.</p>

      <form class="form-group">
        <div class="text-input tip">
          <label for="email-input" class="sr-only">Email Address</label>
          <input type="email" id="email-input" placeholder="Email Address">
          <label for="email-input" class="tip-text">Please enter your email address so we may contact you</label>
          <button type="button" class="icon-tip">Show help for this field</button>
        </div>
        <div class="text-input tip">
          <label for="message-input" class="sr-only">Message</label>
          <input type="text" id="message-input" placeholder="Message">
          <label for="message-input" class="tip-text">Please let us know how you got to this error page</label>
          <button type="button" class="icon-tip">Show help for this field</button>
        </div>
        <div class="buttons">
          <button class="btn-primary btn-block">Submit</button>
        </div>
      </form>
    </div>
    <!-- Image -->
    <div class="col-md-6 col-md-offset-1 col-sm-6 hidden-xs">
      <p class="oops-kid"></p>
    </div>
  </div>
</div>

<footer class="footer container-fluid">

  <div class="container">
    <div class="row">

      <nav class="links-list-nav col-sm-2 col-xs-6">
        <h5 class="links-title">Site Map</h5>
        <ul class="links-list">
          <li><a href="javascript:void(0);">Individuals</a></li>
          <li><a href="javascript:void(0);">Businesses</a></li>
          <li><a href="javascript:void(0);">Financial Pros</a></li>
        </ul>
      </nav>

      <nav class="links-list-nav col-sm-2 col-xs-6">
        <h5 class="links-title">About Us</h5>
        <ul class="links-list">
          <li><a href="javascript:void(0);">Contact Us</a></li>
          <li><a href="javascript:void(0);">Careers</a></li>
          <li><a href="javascript:void(0);">Privacy Policy</a></li>
        </ul>
      </nav>

      <nav class="links-list-nav col-sm-3 col-xs-6 mobile-second-row">
        <h5 class="links-title">Social</h5>
        <ul class="links-list inline-list">
          <li><a href="javascript:void(0);"><span class="social-icon facebook-icon-inverse">Facebook</span></a></li>
          <li><a href="javascript:void(0);"><span class="social-icon twitter-icon-inverse">Twitter</span></a></li>
          <li><a href="javascript:void(0);"><span class="social-icon linkedin-icon-inverse">LinkedIn</span></a></li>
        </ul>
      </nav>

      <div class="lockup col-md-5 col-sm-5 col-xs-6">
        <p class="logo-lockup-inverse hidden-xs">Financial security for the long run&reg; &ndash; CGI</p>
        <p class="logo-full-inverse visible-xs-inline-block">Financial security for the long run&reg; &ndash; Securian</p>
      </div>
    </div>

    <div class="row">
      <div class="footer-legal col-xs-12">
        <p>Insurance products are issued by Minnesota Life Insurance Company in all states except New York. In New York, products are issued by Securian Life Insurance Company, a New York authorized insurer. Both companies are headquartered in Saint Paul, MN. Product availability and features may vary by state. Each insurer is solely responsible for the financial obligations under the policies or contracts it issues.</p>

        <p>Securities and investment advisory services offered through Securian Financial Services, Inc., Member <a href="javascript:void(0);">FINRA</a> / <a href="javascript:void(0);">SIPC</a>.</p>

        <p>&copy; 2005-15 Securian Financial Group, Inc. All rights reserved.</p>
      </div>
    </div>
  </div>

</footer>
