<div class="nav-container">
    <!-- class added: nav-with-background -->
    <div class="nav-main nav-with-background">
        <nav class="navbar">

            <div class="navbar-header">
                <a class="navbar-brand navbar-logo" href="javascript:void(0);">Securian</a>
            </div>

            <ul class="nav navbar-nav">
                <li class="hidden-xs search-container on-canvas-hidden" data-ssearch>
                    <a class="search-open" href="javascript:void(0);">Search</a>
                </li>
                <li class="hidden-xs sign-in-li on-canvas-hidden">
                    <a data-toggle="collapse" data-target="#nav-sign-in-tooltip" aria-expanded="false"
                       aria-controls="nav-sign-in-tooltip" href="javascript:void(0);">Sign In</a>

                    <div id="nav-sign-in-tooltip" class="sign-in-form sign-in-tooltip alert-tooltip-light collapse">
                        <div class="alert-wrapper">
                            <div class="text-input">
                                <label for="username" class="sr-only">Username</label>
                                <input type="text" name="username" placeholder="Username" value="">
                            </div>
                            <div class="text-input">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="password" placeholder="Password" value="">
                            </div>
                            <div class="buttons">
                                <button class="btn-primary btn-block">Submit</button>
                            </div>
                            <div class="toggle-group remember-checkbox">
                                <ul>
                                    <li class="last">
                                        <input type="checkbox" name="rememberMe"/>
                                        <label for="rememberMe" class="toggle-icon"></label>
                                        <label for="rememberMe">Keep me logged in</label>
                                    </li>
                                </ul>
                            </div>
                            <ul class="help-links links-list">
                                <li><a href="javascript:void(0);">Forgot your password?</a></li>
                                <li><a href="javascript:void(0);">Don't have an account?</a></li>
                            </ul>
                        </div>
                        <div class="alert-background"></div>
                        <div class="alert-tooltip-arrow"></div>
                    </div>
                </li>
                <li>
                    <a href="#offCanvasMenu" class="offCanvasMenu-open-button on-canvas-hidden end-link"><span
                            class="hidden-xs">Menu</span> <span class="menu-icon"></span></a>
                    <a href="#offCanvasMenu" class="offCanvasMenu-close-button on-canvas-visible end-link">Close <span
                            class="close-icon"></span></a>

                    <!-- collapse menu -->
                    <nav id="offCanvasMenu">
                        <accordion close-others="oneAtATime">
                            <accordion-group >
                                <accordion-heading>
                                    <a>Search <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></a>
                                </accordion-heading>
                                <div id="nav-search-box" class="search-container" data-ssearch="open"></div>
                            </accordion-group>
                            <accordion-group >
                                <accordion-heading>
                                   <a>Sign In <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></a>
                                </accordion-heading>
                                    <div class="text-input">
                                        <label for="username" class="sr-only">Username</label>
                                        <input type="text" name="username" placeholder="Username" value="">
                                    </div>
                                    <div class="text-input">
                                        <label for="password" class="sr-only">Password</label>
                                        <input type="password" name="password" placeholder="Password" value="">
                                    </div>
                                    <div class="buttons">
                                        <button class="btn-primary btn-block">Submit</button>
                                    </div>
                            </accordion-group>

                            <accordion-group >
                                <accordion-heading>
                                    <a data-toggle="collapse" data-target="#nav-individuals-box" aria-expanded="false"
                                       aria-controls="nav-individuals-box" class="animated-expandable-link"
                                       href="javascript:void(0);">Individuals</a>
                                </accordion-heading>
                                <ul id="nav-individuals-box" class="collapse link-menu" role="menu">
                                    <li><a href="javascript:void(0);"><span class="bullet-icon"></span>Annuities</a>
                                    </li>
                                    <li><a href="javascript:void(0);"><span class="bullet-icon"></span>Life
                                        Insurance</a></li>
                                    <li><a href="javascript:void(0);"><span class="bullet-icon"></span>Financial
                                        Strategies</a></li>
                                </ul>

                            </accordion-group>

                            <accordion-group>
                                <accordion-heading>
                                    <a data-toggle="collapse" data-target="#nav-businesses-box" aria-expanded="false"
                                       aria-controls="nav-businesses-box" class="animated-expandable-link"
                                       href="javascript:void(0);">Businesses</a>
                                </accordion-heading>
                                <div id="nav-businesses-box" class="collapse">

                                </div>
                            </accordion-group>

                            <accordion-group>
                                <accordion-heading>
                                    <a data-toggle="collapse" data-target="#nav-financial-pros-box"
                                       aria-expanded="false" aria-controls="nav-financial-pros-box"
                                       class="animated-expandable-link" href="javascript:void(0);">Financial Pros</a>
                                </accordion-heading>
                                <div id="nav-financial-pros-box" class="collapse">

                                </div>
                            </accordion-group>

                            <li class="social-link"><a href="javascript:void(0);"><span
                                    class="twitter-icon social-icon"></span>Follow Us On Twitter<span
                                    class="external-link-icon"></span></a></li>
                            <li class="social-link"><a href="javascript:void(0);"><span
                                    class="linkedin-icon social-icon"></span>Connect With Us On LinkedIn<span
                                    class="external-link-icon"></span></a></li>
                            <li class="social-link"><a href="javascript:void(0);"><span
                                    class="facebook-icon social-icon"></span>Like Us On Facebook<span
                                    class="external-link-icon"></span></a></li>

                            <li class="divider"></li>

                            <accordion-group>
                                <accordion-heading>
                                    <a data-toggle="collapse" data-target="#nav-contact-us-box" aria-expanded="false"
                                       aria-controls="nav-contact-us-box" class="animated-expandable-link"
                                       href="javascript:void(0);">Contact Us</a>
                                </accordion-heading>
                                <ul id="nav-contact-us-box" class="collapse contact-us-menu link-menu" role="menu">
                                    <li><a>General Inquiries &amp; Comments<span class="right-arrow-icon-sm"></span></a>
                                        <ul class="collapse-menu Panel">
                                            <li>
                                                <form class="contact-us-form">
                                                    <h4 class="title">General Inquiries &amp; Comments</h4>

                                                    <div class="text-input">
                                                        <label for="name" class="sr-only">Name</label>
                                                        <input type="text" id="name" placeholder="Name">
                                                    </div>
                                                    <div class="text-input">
                                                        <label for="email" class="sr-only">Email Address</label>
                                                        <input type="email" id="email" placeholder="Email Address">
                                                    </div>
                                                    <div class="text-input">
                                                        <label for="comments" class="sr-only">Comments or
                                                            Questions</label>
                                                        <input type="text" id="comments"
                                                               placeholder="Comments or Questions">
                                                    </div>
                                                    <div class="toggle-group">
                                                        <label class="toggle-group-label" id="toggle-group-label">Preferred
                                                            Response Method</label>
                                                        <ul aria-alabelledby="toggle-group-label">
                                                            <li>
                                                                <input type="radio" name="responseMethod"
                                                                       id="respondByEmail" checked/>
                                                                <label for="respondByEmail" class="toggle-icon"></label>
                                                                <label for="respondByEmail">Email</label>
                                                            </li>
                                                            <li class="last">
                                                                <input type="radio" name="responseMethod"
                                                                       id="respondByPhone"/>
                                                                <label for="respondByPhone" class="toggle-icon"></label>
                                                                <label for="respondByPhone">Phone</label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-input">
                                                        <label for="phone" class="sr-only">Phone Number</label>
                                                        <input type="text" id="phone" placeholder="Phone Number">
                                                    </div>
                                                    <div class="time-to-call select-input">
                                                        <div class="select-input-element">
                                                            <label for="bestTimeToCall" class="select-label"
                                                                   tabindex="0">Select the best time for us to
                                                                call</label>
                                                            <select id="bestTimeToCall" name="bestTimeToCall">
                                                                <option value="">Select the best time for us to call
                                                                </option>
                                                                <option>Morning</option>
                                                                <option>Afternoon</option>
                                                                <option>Night</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="buttons">
                                                        <button class="btn-primary btn-block" type="submit">Submit
                                                        </button>
                                                        <button class="btn-secondary btn-block" type="reset">Clear
                                                            Form
                                                        </button>
                                                    </div>

                                                    <h4 class="title">Or call us direct</h4>
                                                    <ul class="links-list">
                                                        <li><a href="tel:1-855-651-3500">1-855-651-3500</a></li>
                                                        <li><a href="tel:1-651-665-3500">651-665-3500</a></li>
                                                        <li><a href="tel:1-651-665-3630">651-665-3630</a> (TDD)</li>
                                                    </ul>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a>Annuities<span class="right-arrow-icon-sm"></span></a></li>
                                    <li><a>Claim Notifications &amp; Questions<span class="right-arrow-icon-sm"></span></a>
                                    </li>
                                    <li><a>Credit Life &amp; Voluntary Insurance<span
                                            class="right-arrow-icon-sm"></span></a></li>
                                    <li><a>Group Life &amp; Disability Insurance<span
                                            class="right-arrow-icon-sm"></span></a></li>
                                    <li><a>Individual Life Insurance<span class="right-arrow-icon-sm"></span></a></li>
                                    <li><a>Mortgage Life Insurance<span class="right-arrow-icon-sm"></span></a></li>
                                    <li><a>Retirement Plans<span class="right-arrow-icon-sm"></span></a></li>
                                    <li><a>Mail<span class="right-arrow-icon-sm"></span></a></li>
                                </ul>

                            </accordion-group>


                        </accordion>

                    </nav>
                    <!-- end collapse menu -->

                </li>
            </ul>

        </nav>
        <div class="background"></div>
        <div class="offCanvasMenuMaskWrapper">
            <div class="offCanvasMenuMask"></div>
            <div class="offCanvasMenuMaskBackground"></div>
        </div>
    </div>
</div>

<div class="banner carousel under-nav">

    <div class="slide slide-bg-computer">
        <div class="container">
            <div class="slide-body">
                <h1 class="slide-title">Financial Security <span class="word-break"></span>For The Long Run</h1>

                <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">View our overview
                    brochure</a>
            </div>
        </div>
    </div>

    <div class="slide slide-bg-people">
        <div class="container">
            <div class="slide-body">
                <h1 class="slide-title">Financial Security <span class="word-break"></span>For The Long Run</h1>

                <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">View our overview
                    brochure</a>
            </div>
        </div>
    </div>

    <!-- Additional Filler Slides for example -->
    <div class="slide slide-bg-student">
        <div class="container">
            <div class="slide-body">
                <h1 class="slide-title">Lorem Ipsum <span class="word-break"></span>Dolor Sit Amet</h1>

                <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ieiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">Explore your retirement
                    vision</a>
            </div>
        </div>
    </div>
    <div class="slide slide-bg-worker">
        <div class="container">
            <div class="slide-body">
                <h1 class="slide-title">Lorem Ipsum Dolor</h1>

                <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">Life Insurance Calculator</a>
            </div>
        </div>
    </div>
    <div class="slide slide-bg-notebook">
        <div class="container">
            <div class="slide-body">
                <h1 class="slide-title">Lorem Ipsum <span class="word-break"></span>Dolor Sit Amet</h1>

                <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">View our Best In Class
                    Retirement</a>
            </div>
        </div>
    </div>

    <!-- Text Navigation -->
    <nav class="carousel-nav">
        <button class="carousel-link">2014 Annual Report</button>
        <button class="carousel-link">Overview Brochure</button>
        <button class="carousel-link">Explore Your Retirement Vision</button>
        <button class="carousel-link">Life Insurance Calculator</button>
        <button class="carousel-link">Best In Class Retirement</button>
    </nav>
</div>


<div class="container">

    <!-- left col -->
    <div class="col-md-8 col-sm-12">
        <div class="cta-floated-content-block media row">
            <div class="pull-right media-middle col-sm-6">
                <img class="media-object" src="{{image}}" alt=""/>
            </div>
            <div class="media-body pad-top-3 col-sm-6">
                <h2 class="media-heading">Keeping <span class="word-break"></span> your dreams <span
                        class="word-break"></span> on course</h2>

                <p>Lorem ipsum dolor sit amet, elit, sed eiusmod temp incididunt ut labore.</p>
                <a class="btn-secondary btn-block-mobile" href="javascript:void(0)">Map your route to retirement</a>
            </div>
        </div>

        <div class="cta-floated-content-block media row">
            <div class="pull-left media-middle col-sm-6">
                <img class="media-object" src="{{image}}" alt=""/>
            </div>
            <div class="media-body pad-top-1 col-sm-6">
                <h2 class="media-heading">How much <span class="word-break"></span> insurance do <span
                        class="word-break"></span> you need?</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                <a class="btn-secondary btn-block-mobile" href="javascript:void(0)">Download our calculator app</a>
            </div>
        </div>
    </div>

    <!-- right col -->
    <div class="col-md-3 col-md-offset-1 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-3 col-xs-6">
                <div class="tmp-image-placeholder"></div>
            </div>
            <div class="col-md-12 col-sm-3 col-xs-6">
                <div class="tmp-image-placeholder"></div>
            </div>
            <div class="col-md-12 col-sm-3 col-xs-6">
                <div class="tmp-image-placeholder"></div>
            </div>
            <div class="col-md-12 col-sm-3 col-xs-6 visible-sm-block visible-xs-block">
                <div class="tmp-image-placeholder"></div>
            </div>
        </div>
    </div>

</div>


<footer class="footer container-fluid">

    <div class="container">
        <div class="row">

            <nav class="links-list-nav col-sm-2 col-xs-6">
                <h5 class="links-title">Site Map</h5>
                <ul class="links-list">
                    <li><a href="javascript:void(0);">Individuals</a></li>
                    <li><a href="javascript:void(0);">Businesses</a></li>
                    <li><a href="javascript:void(0);">Financial Pros</a></li>
                </ul>
            </nav>

            <nav class="links-list-nav col-sm-2 col-xs-6">
                <h5 class="links-title">About Us</h5>
                <ul class="links-list">
                    <li><a href="javascript:void(0);">Contact Us</a></li>
                    <li><a href="javascript:void(0);">Careers</a></li>
                    <li><a href="javascript:void(0);">Privacy Policy</a></li>
                </ul>
            </nav>

            <nav class="links-list-nav col-sm-3 col-xs-6 mobile-second-row">
                <h5 class="links-title">Social</h5>
                <ul class="links-list inline-list">
                    <li><a href="javascript:void(0);"><span
                            class="social-icon facebook-icon-inverse">Facebook</span></a></li>
                    <li><a href="javascript:void(0);"><span class="social-icon twitter-icon-inverse">Twitter</span></a>
                    </li>
                    <li><a href="javascript:void(0);"><span
                            class="social-icon linkedin-icon-inverse">LinkedIn</span></a></li>
                </ul>
            </nav>

            <div class="lockup col-md-5 col-sm-5 col-xs-6">
                <p class="logo-lockup-inverse hidden-xs">Financial security for the long run&reg; &ndash; Securian</p>

                <p class="logo-full-inverse visible-xs-inline-block">Financial security for the long run&reg; &ndash;
                    Securian</p>
            </div>
        </div>

        <div class="row">
            <div class="footer-legal col-xs-12">
                <p>Insurance products are issued by Minnesota Life Insurance Company in all states except New York. In
                    New York, products are issued by Securian Life Insurance Company, a New York authorized insurer.
                    Both companies are headquartered in Saint Paul, MN. Product availability and features may vary by
                    state. Each insurer is solely responsible for the financial obligations under the policies or
                    contracts it issues.</p>

                <p>Securities and investment advisory services offered through Securian Financial Services, Inc., Member
                    <a href="javascript:void(0);">FINRA</a> / <a href="javascript:void(0);">SIPC</a>.</p>

                <p>&copy; 2005-15 Securian Financial Group, Inc. All rights reserved.</p>
            </div>
        </div>
    </div>

</footer>
