<div class="mobile-fixed">
  <div class="nav-container">
    <div class="nav-main">
      <nav class="navbar">

      <div class="navbar-header">
        <a class="navbar-brand navbar-logo" href="javascript:void(0);">Securian</a>
      </div>

      <ul class="nav navbar-nav">
        <li class="hidden-xs search-container on-canvas-hidden" data-ssearch>
          <a class="search-open" href="javascript:void(0);">Search</a>
        </li>
        <li class="hidden-xs sign-in-li on-canvas-hidden">
          <a data-toggle="collapse" data-target="#nav-sign-in-tooltip" aria-expanded="false" aria-controls="nav-sign-in-tooltip" href="javascript:void(0);">Sign In</a>
          <div id="nav-sign-in-tooltip" class="sign-in-form sign-in-tooltip alert-tooltip-light collapse">
            <div class="alert-wrapper">
              <div class="text-input">
                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" placeholder="Username" value="">
              </div>
              <div class="text-input">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" placeholder="Password" value="">
              </div>
              <div class="buttons">
                <button class="btn-primary btn-block">Submit</button>
              </div>
              <div class="toggle-group remember-checkbox">
                <ul>
                  <li class="last">
                    <input type="checkbox" name="rememberMe" />
                    <label for="rememberMe" class="toggle-icon"></label>
                    <label for="rememberMe">Keep me logged in</label>
                  </li>
                </ul>
              </div>
              <ul class="help-links links-list">
                <li><a href="javascript:void(0);">Forgot your password?</a></li>
                <li><a href="javascript:void(0);">Don't have an account?</a></li>
              </ul>
            </div>
            <div class="alert-background"></div>
            <div class="alert-tooltip-arrow"></div>
          </div>
        </li>
        <li>
          <a href="#offCanvasMenu" class="offCanvasMenu-open-button on-canvas-hidden end-link"><span class="hidden-xs">Menu</span> <span class="menu-icon"></span></a>
          <a href="#offCanvasMenu" class="offCanvasMenu-close-button on-canvas-visible end-link">Close <span class="close-icon"></span></a>

          <!-- collapse menu -->
          <nav id="offCanvasMenu">

            <ul class="collapse-menu" role="menu">
              <li>
                <a data-toggle="collapse" data-target="#nav-search-box" aria-expanded="false" aria-controls="nav-search-box" class="animated-expandable-link" href="javascript:void(0);">Search</a>
                <div id="nav-search-box" class="collapse search-container" data-ssearch="open"></div>
              </li>
              <li>
                <a data-toggle="collapse" data-target="#nav-sign-in-box" aria-expanded="false" aria-controls="nav-sign-in-box" class="animated-expandable-link" href="javascript:void(0);">Sign In</a>
                <div id="nav-sign-in-box" class="sign-in-form collapse">
                  <div class="text-input">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" name="username" placeholder="Username" value="">
                  </div>
                  <div class="text-input">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" placeholder="Password" value="">
                  </div>
                  <div class="buttons">
                    <button class="btn-primary btn-block">Submit</button>
                  </div>
                  <div class="toggle-group remember-checkbox">
                    <ul>
                      <li class="last">
                        <input type="checkbox" name="rememberMe" />
                        <label for="rememberMe" class="toggle-icon"></label>
                        <label for="rememberMe">Keep me logged in</label>
                      </li>
                    </ul>
                  </div>
                  <ul class="help-links links-list">
                    <li><a href="javascript:void(0);">Forgot your password?</a></li>
                    <li><a href="javascript:void(0);">Don't have an account?</a></li>
                  </ul>
                </div>
              </li>

              <li class="divider"></li>

              <li>
                <a data-toggle="collapse" data-target="#nav-individuals-box" aria-expanded="false" aria-controls="nav-individuals-box" class="animated-expandable-link" href="javascript:void(0);">Individuals</a>
                <ul id="nav-individuals-box" class="collapse link-menu" role="menu">
                  <li><a href="javascript:void(0);"><span class="bullet-icon"></span>Annuities</a></li>
                  <li><a href="javascript:void(0);"><span class="bullet-icon"></span>Life Insurance</a></li>
                  <li><a href="javascript:void(0);"><span class="bullet-icon"></span>Financial Strategies</a></li>
                </ul>
              </li>

              <li>
                <a data-toggle="collapse" data-target="#nav-businesses-box" aria-expanded="false" aria-controls="nav-businesses-box" class="animated-expandable-link" href="javascript:void(0);">Businesses</a>
                <div id="nav-businesses-box" class="collapse">

                </div>
              </li>
              <li>
                <a data-toggle="collapse" data-target="#nav-financial-pros-box" aria-expanded="false" aria-controls="nav-financial-pros-box" class="animated-expandable-link" href="javascript:void(0);">Financial Pros</a>
                <div id="nav-financial-pros-box" class="collapse">

                </div>
              </li>

              <li class="divider"></li>

              <li class="social-link"><a href="javascript:void(0);"><span class="twitter-icon social-icon"></span>Follow Us On Twitter<span class="external-link-icon"></span></a></li>
              <li class="social-link"><a href="javascript:void(0);"><span class="linkedin-icon social-icon"></span>Connect With Us On LinkedIn<span class="external-link-icon"></span></a></li>
              <li class="social-link"><a href="javascript:void(0);"><span class="facebook-icon social-icon"></span>Like Us On Facebook<span class="external-link-icon"></span></a></li>

              <li class="divider"></li>

              <li>
                <a data-toggle="collapse" data-target="#nav-contact-us-box" aria-expanded="false" aria-controls="nav-contact-us-box" class="animated-expandable-link" href="javascript:void(0);">Contact Us</a>
                <ul id="nav-contact-us-box" class="collapse contact-us-menu link-menu" role="menu">
                  <li><a>General Inquiries &amp; Comments<span class="right-arrow-icon-sm"></span></a>
                    <ul class="collapse-menu Panel">
                      <li>
                        <form class="contact-us-form">
                          <h4 class="title">General Inquiries &amp; Comments</h4>
                          <div class="text-input">
                            <label for="name" class="sr-only">Name</label>
                            <input type="text" id="name" placeholder="Name">
                          </div>
                          <div class="text-input">
                            <label for="email" class="sr-only">Email Address</label>
                            <input type="email" id="email" placeholder="Email Address">
                          </div>
                          <div class="text-input">
                            <label for="comments" class="sr-only">Comments or Questions</label>
                            <input type="text" id="comments" placeholder="Comments or Questions">
                          </div>
                          <div class="toggle-group">
                            <label class="toggle-group-label" id="toggle-group-label">Preferred Response Method</label>
                            <ul aria-alabelledby="toggle-group-label">
                              <li>
                                <input type="radio" name="responseMethod" id="respondByEmail" checked />
                                <label for="respondByEmail" class="toggle-icon"></label>
                                <label for="respondByEmail">Email</label>
                              </li>
                              <li class="last">
                                <input type="radio" name="responseMethod" id="respondByPhone" />
                                <label for="respondByPhone" class="toggle-icon"></label>
                                <label for="respondByPhone">Phone</label>
                              </li>
                            </ul>
                          </div>
                          <div class="text-input">
                            <label for="phone" class="sr-only">Phone Number</label>
                            <input type="text" id="phone" placeholder="Phone Number">
                          </div>
                          <div class="time-to-call select-input">
                            <div class="select-input-element">
                              <label for="bestTimeToCall" class="select-label" tabindex="0">Select the best time for us to call</label>
                              <select id="bestTimeToCall" name="bestTimeToCall">
                                <option value="">Select the best time for us to call</option>
                                <option>Morning</option>
                                <option>Afternoon</option>
                                <option>Night</option>
                              </select>
                            </div>
                          </div>

                          <div class="buttons">
                            <button class="btn-primary btn-block" type="submit">Submit</button>
                            <button class="btn-secondary btn-block" type="reset">Clear Form</button>
                          </div>

                          <h4 class="title">Or call us direct</h4>
                          <ul class="links-list">
                            <li><a href="tel:1-855-651-3500">1-855-651-3500</a></li>
                            <li><a href="tel:1-651-665-3500">651-665-3500</a></li>
                            <li><a href="tel:1-651-665-3630">651-665-3630</a> (TDD)</li>
                          </ul>
                        </form>
                      </li>
                    </ul>
                  </li>
                  <li><a>Annuities<span class="right-arrow-icon-sm"></span></a></li>
                  <li><a>Claim Notifications &amp; Questions<span class="right-arrow-icon-sm"></span></a></li>
                  <li><a>Credit Life &amp; Voluntary Insurance<span class="right-arrow-icon-sm"></span></a></li>
                  <li><a>Group Life &amp; Disability Insurance<span class="right-arrow-icon-sm"></span></a></li>
                  <li><a>Individual Life Insurance<span class="right-arrow-icon-sm"></span></a></li>
                  <li><a>Mortgage Life Insurance<span class="right-arrow-icon-sm"></span></a></li>
                  <li><a>Retirement Plans<span class="right-arrow-icon-sm"></span></a></li>
                  <li><a>Mail<span class="right-arrow-icon-sm"></span></a></li>
                </ul>
              </li>
            </ul>

          </nav>
          <!-- end collapse menu -->

        </li>
      </ul>

    </nav>
      <div class="background"></div>
      <div class="offCanvasMenuMaskWrapper"><div class="offCanvasMenuMask"></div><div class="offCanvasMenuMaskBackground"></div></div>
    </div>
  </div>

  <!--
      Must be inside .mobile-fixed container with navigation
      to stay fixed to top of page
    -->
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Newsroom</h1>
        <p>Lorem ipsum dolor sit amet, consectetur. For mobile layout, keep this text short!</p>

        <!-- Element for switching tabs on mobile layout -->
        <div data-toggle="select"></div>
      </div>
    </div>
  </div>

</div>
<div class="container">

  <div class="row">
    <div class="col-md-8">

      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Tab 1</a></li>
          <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Tab 2</a></li>
          <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Tab 3</a></li>
          <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Tab 4</a></li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab1">
            <div class="date-bubble-row left-circle">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Dec&nbsp;9</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>

            <div class="date-bubble-row">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Nov&nbsp;14</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>

            <div class="date-bubble-row right-circle">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Nov&nbsp;10</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>

            <div class="date-bubble-row left-circle">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Dec&nbsp;9</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>

            <div class="date-bubble-row left-circle">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Oct&nbsp;18</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab2">
            <div class="date-bubble-row right-circle">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Nov&nbsp;14</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>

            <div class="date-bubble-row left-circle">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Nov&nbsp;10</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab3">
            <div class="date-bubble-row">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Nov&nbsp;14</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>

            <div class="date-bubble-row right-circle">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Nov&nbsp;10</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab4">
            <div class="date-bubble-row left-circle">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Oct&nbsp;14</div>
                  <div class="date-bubble-year">2013</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>

            <div class="date-bubble-row">
              <h3>
                <div class="date-bubble">
                  <div class="date-bubble-date">Nov&nbsp;10</div>
                  <div class="date-bubble-year">2014</div>
                </div>
                Ipsum Lorem Dolor
              </h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmond tempor incididunt ut labore et dolore magna aliqua. Ut emin ad minim veniam, nisi... <a class="block-link" href="javascript:void(0)">Read More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 tab-sidebar">
      <div class="row">
      <div class="col-md-12 col-sm-3 col-xs-6">
        <div class="tmp-image-placeholder"></div>
      </div>
      <div class="col-md-12 col-sm-3 col-xs-6">
        <div class="tmp-image-placeholder"></div>
      </div>
      <div class="col-md-12 col-sm-3 col-xs-6">
        <div class="tmp-image-placeholder"></div>
      </div>
      <div class="col-md-12 col-sm-3 col-xs-6 visible-sm-block visible-xs-block">
        <div class="tmp-image-placeholder"></div>
      </div>
    </div>
    </div>
  </div>

</div>

<footer class="footer container-fluid">

  <div class="container">
    <div class="row">

      <nav class="links-list-nav col-sm-2 col-xs-6">
        <h5 class="links-title">Site Map</h5>
        <ul class="links-list">
          <li><a href="javascript:void(0);">Individuals</a></li>
          <li><a href="javascript:void(0);">Businesses</a></li>
          <li><a href="javascript:void(0);">Financial Pros</a></li>
        </ul>
      </nav>

      <nav class="links-list-nav col-sm-2 col-xs-6">
        <h5 class="links-title">About Us</h5>
        <ul class="links-list">
          <li><a href="javascript:void(0);">Contact Us</a></li>
          <li><a href="javascript:void(0);">Careers</a></li>
          <li><a href="javascript:void(0);">Privacy Policy</a></li>
        </ul>
      </nav>

      <nav class="links-list-nav col-sm-3 col-xs-6 mobile-second-row">
        <h5 class="links-title">Social</h5>
        <ul class="links-list inline-list">
          <li><a href="javascript:void(0);"><span class="social-icon facebook-icon-inverse">Facebook</span></a></li>
          <li><a href="javascript:void(0);"><span class="social-icon twitter-icon-inverse">Twitter</span></a></li>
          <li><a href="javascript:void(0);"><span class="social-icon linkedin-icon-inverse">LinkedIn</span></a></li>
        </ul>
      </nav>

      <div class="lockup col-md-5 col-sm-5 col-xs-6">
        <p class="logo-lockup-inverse hidden-xs">Financial security for the long run&reg; &ndash; Securian</p>
        <p class="logo-full-inverse visible-xs-inline-block">Financial security for the long run&reg; &ndash; Securian</p>
      </div>
    </div>

    <div class="row">
      <div class="footer-legal col-xs-12">
        <p>Insurance products are issued by Minnesota Life Insurance Company in all states except New York. In New York, products are issued by Securian Life Insurance Company, a New York authorized insurer. Both companies are headquartered in Saint Paul, MN. Product availability and features may vary by state. Each insurer is solely responsible for the financial obligations under the policies or contracts it issues.</p>

        <p>Securities and investment advisory services offered through Securian Financial Services, Inc., Member <a href="javascript:void(0);">FINRA</a> / <a href="javascript:void(0);">SIPC</a>.</p>

        <p>&copy; 2005-15 Securian Financial Group, Inc. All rights reserved.</p>
      </div>
    </div>
  </div>

</footer>
