<div class="banner carousel">

  <div class="slide slide-bg-computer">
    <div class="container">
      <div class="slide-body">
        <h1 class="slide-title">Financial Security <span class="word-break"></span>For The Long Run</h1>
        <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">View our overview brochure</a>
      </div>
    </div>
  </div>

  <div class="slide slide-bg-people">
    <div class="container">
      <div class="slide-body">
        <h1 class="slide-title">Financial Security <span class="word-break"></span>For The Long Run</h1>
        <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">View our overview brochure</a>
      </div>
    </div>
  </div>

  <!-- Additional Filler Slides for example -->
  <div class="slide slide-bg-student">
    <div class="container">
      <div class="slide-body">
        <h1 class="slide-title">Lorem Ipsum <span class="word-break"></span>Dolor Sit Amet</h1>
        <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ieiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">Explore your retirement vision</a>
      </div>
    </div>
  </div>
  <div class="slide slide-bg-worker">
    <div class="container">
      <div class="slide-body">
        <h1 class="slide-title">Lorem Ipsum Dolor</h1>
        <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">Life Insurance Calculator</a>
      </div>
    </div>
  </div>
  <div class="slide slide-bg-notebook">
    <div class="container">
      <div class="slide-body">
        <h1 class="slide-title">Lorem Ipsum <span class="word-break"></span>Dolor Sit Amet</h1>
        <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a class="btn-primary-on-dark btn-block-mobile" href="javascript:void(0);">View our Best In Class Retirement</a>
      </div>
    </div>
  </div>

  <!-- Text Navigation -->
  <nav class="carousel-nav">
    <button class="carousel-link">2014 Annual Report</button>
    <button class="carousel-link">Overview Brochure</button>
    <button class="carousel-link">Explore Your Retirement Vision</button>
    <button class="carousel-link">Life Insurance Calculator</button>
    <button class="carousel-link">Best In Class Retirement</button>
  </nav>
</div>
