<section class="container sample-grid">
<h2>12 Col grid</h2>
<p>We use a 12 column grid with a <code>14px</code> gutter split evenly.</p>
<div class="example row">
	<div class="col-xs-12 light-caption">
		<div class="visible-xs">1 column width mobile: dynamic</div>
		<div class="visible-sm">1 column width tablet: 39px</div>
		<div class="visible-lg">1 column width desktop: 67px</div>
	</div>
</div>
<!-- 8 column hack: http://stackoverflow.com/questions/20287867/8-columns-in-twitter-bootstrap  -->
<div class="row">
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-3">
				1
			</div>
			<div class="col-xs-3">
				2
			</div>
			<div class="col-xs-3">
				3
			</div>
			<div class="col-xs-3">
				4
			</div>
		</div>
	</div> 
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-3">
				5   
			</div>
			<div class="col-xs-3">
				6
			</div>
			<div class="col-xs-3">
				7
			</div>
			<div class="col-xs-3">
				8
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-1"><p class="grid-txt">1</p></div>
	<div class="col-xs-1"><p class="grid-txt">1</p></div>
	<div class="col-xs-1"><p class="grid-txt">1</p></div>
	<div class="col-xs-1"><p class="grid-txt">1</p></div>
	<div class="col-xs-1"><p class="grid-txt">1</p></div>
	<div class="col-xs-1"><p class="grid-txt">1</p></div>
	<div class="col-xs-1"><p class="grid-txt">1</p></div>
	<div class="col-xs-1"><p class="grid-txt">1</p></div>
</div>

<div class="example row">
	<div class="col-xs-12 light-caption">
		<div class="visible-xs">2 column width mobile: dynamic</div>
		<div class="visible-sm">2 column width tablet: 93px</div>
		<div class="visible-lg">2 column width desktop: 1412px</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-2"><p class="grid-txt">2</p></div>
	<div class="col-xs-2"><p class="grid-txt">2</p></div>
	<div class="col-xs-2"><p class="grid-txt">2</p></div>
	<div class="col-xs-2"><p class="grid-txt">2</p></div>
	<div class="col-xs-2"><p class="grid-txt">2</p></div>
	<div class="col-xs-2"><p class="grid-txt">2</p></div>
</div>

<div class="example row">
	<div class="col-xs-12 light-caption">
		<div class="visible-xs">3 column width mobile: dynamic</div>
		<div class="visible-sm">3 column width tablet: 146px</div>
		<div class="visible-lg">3 column width desktop: 229px</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-3"><p class="grid-txt">3</p></div>
	<div class="col-xs-3"><p class="grid-txt">3</p></div>
	<div class="col-xs-3"><p class="grid-txt">3</p></div>
	<div class="col-xs-3"><p class="grid-txt">3</p></div>
</div>

<div class="example row">
	<div class="col-xs-12 light-caption">
		<div class="visible-xs">4 column width mobile: dynamic</div>
		<div class="visible-sm">4 column width tablet: 199px</div>
		<div class="visible-lg">4 column width desktop: 309px</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-4"><p class="grid-txt">4</p></div>
	<div class="col-xs-4"><p class="grid-txt">4</p></div>
	<div class="col-xs-4"><p class="grid-txt">4</p></div>
</div>

<div class="example row">
	<div class="col-xs-12 light-caption">
		<div class="visible-xs">6 column width mobile: dynamic</div>
		<div class="visible-sm">6 column width tablet: 306px</div>
		<div class="visible-lg">6 column width desktop: 471px</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6"><p class="grid-txt">6</p></div>
	<div class="col-xs-6"><p class="grid-txt">6</p></div>
</div>

<div class="example row">
	<div class="col-xs-12 light-caption">
		<div class="visible-xs">12 column width mobile: dynamic</div>
		<div class="visible-sm">12 column width tablet: 626px</div>
		<div class="visible-lg">12 column width desktop: 956px</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12"><p class="grid-txt">8</p></div>
</div>

<h2>Offsets</h2>
<p>You can use any number of cols as an offset.</p>
<div class="row">
	<div class="col-md-1 col-xs-offset-11"><p class="grid-txt">1</p></div>
</div>

<div class="row">
	<div class="col-md-2 col-xs-offset-10"><p class="grid-txt">2</p></div>
</div>

<div class="row">
	<div class="col-md-3 col-xs-offset-9"><p class="grid-txt">3</p></div>
</div>

<div class="row">
	<div class="col-md-4 col-xs-offset-12"><p class="grid-txt">4</p></div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-offset-6"><p class="grid-txt">6</p></div>
</div>
</section>
