<a name="alerts" class="anchor"></a>
<h3 class="subtitle">Alerts &amp; Notifications</h3>

<h4>Full Screen</h4>
<p>A full screen alert will take over the whole page, forcing the user to acknowledge the alert before continuing on. The background is slightly opaque to view contents below the alert.</p>
<p>This design is the same across all breakpoints.</p>
<template-sampler layout="fullScreen" template="patterns.content.alerts.fullScreen"></template-sampler>

<h4>Tooltip</h4>
<p>The tooltip alert has the same content styling as the Full Screen version but used without blocking the entire page. The arrow tip indicates the source of the tip.</p>
<p>On <strong>Mobile</strong> devices the tooltip will convert to a Full Screen alert because of the sizing.</p>
<template-sampler template="patterns.content.alerts.tooltip" height="430px"></template-sampler>
