.doughnut-chart__chart{
position:relative;
top:30px;
right:30px;
}
.doughnut-chart__chart__text{
position:absolute;
top:30px;
right:4px;
font-size:16px;
font-weight:bold;
}
.doughnut-chart__legend{
}
.doughnut-chart__legend>table>tbody>tr>td{
border-top:none!important;
}
.doughnut-chart__legend__head{
text-align:right;
}

//create a bullet icon before an item
@mixin listStyle($color) {
  /* For a round bullet */
  content: '\2022';
  /* For a square bullet */
  /*content:'\25A0';*/
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -20px;
  top: -5px;
  color:$color;
  font-size: 20px;
}

.doughnut-chart__legend__body__definition__2{
text-align:right;
}
.doughnut-chart__legend__body__definition__3{
text-align:right;
}

.doughnut-chart__legend__body__definition__1 > span{
font-weight:bold;
font-size:14px;
color:$gray1;
}

.doughnut-chart__legend__body__row__1 > .doughnut-chart__legend__body__definition__1 > span:before{
@include listStyle($green1);
}

.doughnut-chart__legend__body__row__2 > .doughnut-chart__legend__body__definition__1 > span:before{
@include listStyle($green2);
}

.doughnut-chart__legend__body__row__3 > .doughnut-chart__legend__body__definition__1 > span:before{
@include listStyle($green3);
}

.doughnut-chart__legend__body__row__4 > .doughnut-chart__legend__body__definition__1 > span:before{
@include listStyle($green4);
}

.doughnut-chart__legend__body__row__5 > .doughnut-chart__legend__body__definition__1 > span:before{
@include listStyle($green5);
}